body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: center;
}

.nav-center{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.background{
    display: flex;
    align-items: center;
}

.background-video{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.background-video div{
    z-index: 2;
}
.btn-container{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.apple-music-screen {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    width: 150px;
    height: 200px;
    align-items: center;
    flex-direction: column;
    background-color: palevioletred;
}

.changer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.fi-br-play{

}

.video{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 120px;
    height: 70px;
    border: 1px solid black;
}

.progress-bar {
    grid-area: four;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

#progressBar {
    appearance: none;
    height: 5px;
    background: white;
    width: 57.5%;
    outline: none;
    border-radius: 30px;
}

#progressBar::-webkit-slider-thumb {
    appearance: none;
    height: 11px;
    width: 11px;
    outline: none;
    background: #f94c57;
    border-radius: 30px;
    cursor: pointer;
}

.track-time {
    grid-area: five;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#currentTime {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: white;
}

#durationTime {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #f94c57;
    text-shadow: 0 0 15px white;
}